name: Update Stats Cards
on:
  schedule:
    # Runs once daily at midnight
    # NOTE: Offset against other actions 
    - cron: "0 0 * * *"
  push:
    branches:
      - main
  workflow_dispatch:
concurrency:
  group: profile-output-publish
  cancel-in-progress: false
env:
  OUTPUT_DIR: cards
jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      contents: write
    steps:
      #
      - name: "Checkout repository"
        uses: actions/checkout@v6
        #
      - name: "Generate stats card"
        uses: readme-tools/github-readme-stats-action@v1
        with:
          card: stats
          options: username=${{ github.repository_owner }}&show_icons=true&theme=dark
          path: ${{ env.OUTPUT_DIR }}/stats.svg
          token: ${{ secrets.GITHUB_TOKEN }}
          #
      - name: "Generate top languages card"
        uses: readme-tools/github-readme-stats-action@v1
        with:
          card: top-langs
          options: username=${{ github.repository_owner}}&theme=dark&layout=compact&hide=powershell,lua
          path: ${{ env.OUTPUT_DIR }}/top-langs.svg
          token: ${{ secrets.GITHUB_TOKEN }}
          #
      - name: "Commit cards"
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add cards/*.svg
          git commit -m "Update README cards" || exit 0
          git push
        #
      - name: "Add Typst"
        run: sudo apt install -y typst
        #
      - name: "Generate Typst md file"
        run: |
          cd ${{ github.workspace }}
          ${{ github.workspace }}/scripts/convert.sh
          printf "Generated Typst file at ${{ github.workspace }}/README.md"
        #

##         If instead you want to treat a branch as a storage/output folder
##         You can do this - which will output to branch `output` instead of the main branch. You can then link to the raw files in that branch from your README.
#      - name: Preserve existing output files
#        run: |
#          if git ls-remote --heads origin output | grep -q 'refs/heads/output'; then
#            git fetch --depth=1 origin output
#            git worktree add output-old origin/output
#            rsync -a --exclude='.git' --ignore-existing output-old/ dist/
#          fi
#      - name: Push SVGs to output branch
#        uses: crazy-max/ghaction-github-pages@v3.1.0
#        with:
#          target_branch: output
#          build_dir: dist
#          keep_history: true
#        env:
#          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
